name: CI - Multijob

on:
  push:
    branches:
      - main
      - feature/**
  pull_request:

jobs:
  lint:
    name: Lint (Flake8)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install flake8

      - name: Rodar flake8
        run: flake8 src

  test:
    name: Testes (unittest)
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip

      - name: Rodar testes
        run: |
          python -m unittest discover -s src

  docker-build:
    name: Build Docker
    runs-on: ubuntu-latest
    needs: test

    steps:
      - uses: actions/checkout@v3

      - name: Build da imagem Docker
        run: |
          docker build -t git-modulo1-ci .

